* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin: 0 auto;
	font-weight: 700;
	font-size: 36px;
	width: 539px;
	text-align: center;
}